*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color:black ;
    padding: 20px 0px 20px 40px;
    position: sticky;
    top: 0;
}
nav li {
display: inline;
margin: 40px;
vertical-align: middle;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

nav li a:hover {
    color: #c9c8c8;
}
.icono svg {
    fill: white;
    width: 2rem;
}

header{
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 150px 150px 500px;
    color: white;
    text-shadow: 0px 3px 6px black;
    text-align: right;
}

header h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 10px 0px;
    letter-spacing: 2px;
}

header h2 {
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
    }

#ubicacion {
    padding: 150px;
    text-align: center;
}

#ubicacion h2 {
    font-size: 45px;
    margin: 40px 0px 20px 0px;
}

#ubicacion p {
    font-size: 25px;
}

#proxima-charla {
    background-color:#a4452c;
    padding: 100px;
    color: white;
}

#proxima-charla .wrapper{
width: 800px;
margin: auto;
}

.wrapper img {
    width: 25%;
}
.wrapper .texto {
    width: 70%;
    margin-left: 2%;
    }

.wrapper img, .texto {
    display: inline-block;
    vertical-align: middle;
}

.texto h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}
.texto h5 {
    font-size: 25px;
    font-weight: 100;
}
.texto h6 {
    font-size: 17.5px;
    font-weight: 100;
    margin-bottom: 10px;
}
.texto p {
    font-size: 20px;
    font-weight: 100;
}

#eventos-anteriores{
    padding: 100px;
    text-align: center;

}
#eventos-anteriores h2{
font-size: 45px;
margin-bottom: 50px;

}

#eventos-anteriores div {
    /* display: inline-block; */
    margin: 0px 50px 
}
#eventos-anteriores h3 {
    font-size: 35px;
    margin-top: 35px;
    }
    footer {
        background-color: black;
        text-align: center;
        color: white;
        padding: 70px 0px 30px 0px;
    }
    
    footer i {
        margin-right: 20px;
    }
    
    footer p {
        margin-top: 20px;
    }
    